body{
  background-image: url(img/fonn.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
  width: 100%;
  height: 100px;
  margin:5% auto;
}
.header_text {
  padding: 50px 20px;
  text-align: center;
}
.header_text h1 {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color:  #F0E68C;
  font-size: 40px;
  text-shadow: 1px 1px 1px #000;
  padding: .4em 1em .55em;
}
.header_text h1:before,
.header_text h1:after {
  content: ""; 
  position: absolute;
  width: 60%;
  height: .1em;
  background: #294200; 
}
.header_text h1:before {
  left: 0;
  top: 0;
}
.header_text h1:after {
  right: 0;
  bottom: 0;
}
.header_text h1 span:before,
.header_text h1 span:after {
  content: ""; 
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #294200;
  border-radius: 50%;
  box-sizing: border-box;
}
.header_text h1 span:before {
  top: -.55em;
  left: -.325em;
}
.header_text h1 span:after {
  bottom: -.55em;
  right: -.325em;
}
.text_welcome_hr{
    border:none;
  width: 400px;
  height: 2px;
  color:  #808080;
  background-color:   #808080;
}
.kreml_header, .teatr_header, .baumana_header{
  text-align: center;
  margin: 10% 0 0 0;
  font-size: 20px;
  color:#3CB371;
  text-shadow: 1px 1px 1px #000;
}
.text_kreml_hr{
  border:none;
  width: 400px;
  height: 2px;
  color: #32CD32;
  background-color: #32CD32;
}
.text_teatr_hr {
  border:none;
  width: 300px;
  height: 2px;
  color: #20B2AA;
  background-color: #20B2AA;
}
.text_baumana_hr {
  border:none;
  width: 450px;
  height: 2px;
  color: #E9967A;
  background-color: #E9967A;
}
.container{
  width: 1200px;
  height: auto;
  margin:0 auto;
}
.flex-container_kreml {
  width: 1100px;
  height: auto;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.flex-container_teatr {
  width: 1100px;
  height: auto;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.flex-container_baumana {
  width: 1100px;
  height: auto;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.kreml_picture_block {
order:2;
}
.teatr_picture_block {

}
.baumana_picture_block {
order:2;
}
.kreml_image {
width: 100%;
height: auto;
margin:20% 2% 10% 4%;
}
.teatr_image {
  width: 80%;
  height: auto;
  margin:20% 2% 10% 5%;
}
.baumana_image {
  margin:20% 2% 10% 2%;
  width: 90%;
  height:auto;
}
.text_kreml {
order: 1;
max-width: 40%;
text-align: justify;
margin:5% 1% 5% 1%;
font-size: 16px;
}
.text_teatr {
  margin:5% 1% 5% 1%;
  max-width: 30%;
  text-align: justify;
  font-size: 16px;
}
.text_baumana {
  margin:5% 1% 5% 1%;
  text-align: justify;
  order:1;
  max-width: 50%;
  font-size: 16px;
}
.map_kreml, .map_teatr, .map_baumana{
  border:3px solid #556B2F;
}
.map_baumana{
  margin-bottom: 3%;
}
.end{
  border:none;
  width: 400px;
  height: 2px;
  color: #778899;
  background-color: #778899;
}
.footer{
  width: 100%;
  height: auto;
  font-family: 'Itim', cursive;
  text-align: center;
}
.vk{
  width: 70px;
  height: 70px;
}
.madeby{
  text-align: center;
}
@media (max-width: 1200px){
  .container{
    max-width: 970px;
  }
}
@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
}
@media (max-width: 767px){
  .container{
    max-width: none;
  }
}
@media (max-width: 600px) {
  .header_text h1 {font-size: 2em;}
}
@media (max-width: 450px) {
  .header_text h1 {font-size: 1.5em;}
}